
<div class="object-container-header">
    <span ng-bind="displayName"></span>
    <div class="object-type" ng-bind="type"></div>
    <br class="clear-fix"/>
</div>

<div class="object-container-body">

    <div ng-if="visualizationType === 'json'">
        <div json-editor model="model" name="name" validators="validators"></div>
    </div>

    <div ng-if="visualizationType === 'single-value'">
        <div single-value-editor model="model" name="name" validator="validators[0]"></div>
    </div>

    <pre ng-if="visualizationType === 'text'" ng-bind-html="model.value | prettify" class="text-viewer"></pre>

</div>